/* Unselected state - border color */
::ng-deep .mat-radio-button .mdc-radio__outer-circle {
  border-color: blue !important;
}

/* Unselected state - inner circle color */
::ng-deep .mat-radio-button .mdc-radio__inner-circle {
  background-color: white !important; /* Color of the inner circle when not selected */
}

/* Selected state - inner circle color */
::ng-deep .mat-radio-button.mat-radio-checked .mdc-radio__inner-circle {
  background-color: blue !important; /* Color of the inner circle when selected */
}

/* Selected state - border color */
::ng-deep .mat-radio-button.mat-radio-checked .mdc-radio__outer-circle {
  border-color: blue !important;
}

/* Focused state */
::ng-deep .mat-radio-button.mat-radio-focused .mdc-radio__outer-circle {
  border-color: blue !important;
}
