<div class="w-full flex h-screen">
  <div class="w-1/3 sm:block hidden">
    <app-welcome-panel
      [message]="'Create an account to get started. Sign up today and start your journey with us!'"
    ></app-welcome-panel>
  </div>

  <div class="w-full sm:w-[70%] h-screen flex justify-center items-center">
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-4 w-full max-w-sm bg-white p-8 rounded-lg shadow-2xl border border-gray-200"
    >
      <div>
        <h2 class="text-center">Register Here</h2>
        <p class="text-primary text-center">Welcome! Create your account</p>
      </div>
      <hr class="flex-1 border-t border-gray-300" />

      <div class="flex flex-col gap-4">
        <app-custom-input
          label="Full Name"
          placeholder="John Doe"
          [required]="true"
          [formControl]="getControl('fullName')"
        ></app-custom-input>

        <app-custom-input
          label="Email"
          placeholder="user@example.com"
          [required]="true"
          [formControl]="getControl('email')"
        ></app-custom-input>

        <app-custom-input
          label="Password"
          placeholder="*******"
          [required]="true"
          type="password"
          [formControl]="getControl('password')"
        ></app-custom-input>
      </div>

      <app-custom-button
        label="Register"
        [type]="'submit'"
        customClass="w-full secondary-background"
        [isLoading]="(isLoading$ | async) ?? false"
      ></app-custom-button>

      <app-oauth-login></app-oauth-login>
      <hr class="flex-1 border-t border-gray-300" />

      <p class="text-primary text-center">
        Already have an account?
        <a routerLink="/auth/login" class="text-tertiary">Login Here</a>
      </p>
    </form>
  </div>
</div>
