<div class="modal-overlay" *ngIf="isOpen" (click)="closeModal()">
  <div
    class="modal-content"
    [ngClass]="[customClass, modalSize]"
    (click)="$event.stopPropagation()"
  >
    <!-- Header -->
    <div class="modal-header">
      <p
        [ngClass]="
          title.includes('Delete')
            ? 'text-danger text-2xl font-bold'
            : 'text-[#1e40af] text-2xl font-bold'
        "
      >
        {{ title }}
      </p>

      <button *ngIf="showCloseButton" class="close-btn" (click)="closeModal()">
        <i class="fa fa-close" aria-hidden="true"></i>
      </button>
    </div>

    <!-- Body: Dynamic Content -->
    <div class="modal-body">
      <ng-content></ng-content>
    </div>

    <!-- Footer -->
    <div *ngIf="showFooter" class="modal-footer">
      <app-custom-button
        label="Cancel"
        customClass="text-primary tertiary-background border border-solid border-gray-300"
        (clicked)="closeModal()"
      ></app-custom-button>
      <app-custom-button
        label="Save"
        (clicked)="closeModal()"
        customClass="secondary-background"
      ></app-custom-button>
    </div>
  </div>
</div>
