<!-- Sidebar -->
<aside
  [@sidebarState]="isSidebarOpen ? 'open' : 'closed'"
  class="bg-blue-800 text-white h-screen fixed top-16 left-0 transition-all duration-300 flex flex-col overflow-hidden shadow-lg"
>
  <!-- Logo & Toggle Button -->
  <div
    class="flex items-center justify-between px-4 py-4 border-b border-gray-700"
  >
    <span *ngIf="isSidebarOpen" class="text-lg font-bold">Expense App</span>
    <button
      (click)="toggleSidebar()"
      class="text-gray-100 hover:text-gray-400 transition"
    >
      <i
        [ngClass]="{
          ' fa-arrow-circle-left': isSidebarOpen,
          'fa-arrow-circle-right': !isSidebarOpen
        }"
        class="fa text-2xl"
      ></i>
    </button>
  </div>

  <!-- Sidebar Items -->
  <ul class="flex-1 overflow-auto">
    <li *ngFor="let module of modules" class="relative">
      <div
        class="sidebar-item px-4 py-3 flex items-center cursor-pointer"
        [class.bg-blue-900]="activeModule === module.name"
        (click)="module.subModules.length ? toggleSubMenu(module.name) : null"
      >
        <i [class]="module.icon" class="w-5 h-5 mr-4"></i>
        <span *ngIf="isSidebarOpen" class="text-sm font-medium">{{
          module.name
        }}</span>
        <i
          *ngIf="module.subModules.length && isSidebarOpen"
          [ngClass]="{
            'fa-arrow-circle-down': activeModule !== module.name,
            'fa-arrow-circle-up': activeModule === module.name
          }"
          class="fa ml-auto w-4 h-4"
          aria-hidden="true"
        ></i>
      </div>

      <!-- Submodules -->
      <ul
        *ngIf="
          activeModule === module.name &&
          module.subModules.length &&
          isSidebarOpen
        "
        class="ml-8 mt-2 space-y-2"
      >
        <li
          *ngFor="let sub of module.subModules"
          class="text-gray-300 hover:text-white px-4 py-2 rounded-lg cursor-pointer"
          (click)="toggleSidebar()"
        >
          <span class="text-sm">{{ sub.name }}</span>
        </li>
      </ul>
    </li>
  </ul>

  <!-- Footer -->
  <div class="p-4 border-t border-gray-700 text-gray-400 text-xs">
    <span *ngIf="isSidebarOpen">© 2025 Expense App</span>
  </div>
</aside>
